h1 {
  font-size: 24px;
}

.edit-task-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.edit-task-modal {
  background-color: #c1d6cc;
  padding: 20px;
  width: 40%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  cursor: pointer;
  width: 20px;
}